<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.bynar.org/xtext/BynarLang"
			class = "org.bynar.xtext.bynarLang.BynarLangPackage"
			genModel = "model/generated/BynarLang.genmodel" />
	</extension>
</plugin>
